<%- include("partials/header") %>
<div class="col-md-8 mx-auto py-5">
  <h1 class="text-center mb-4">Todo List With Multer</h1>
  <form class="mb-3" action="/todo" method="POST" enctype="multipart/form-data">
    <div class="form-group mb-3">
      <label class="form-label" for="task"><strong>Todo</strong></label>
      <input
        class="form-control"
        type="text"
        name="todo"
        placeholder="Add todo.."
        required
      />
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="img"><strong>Image</strong></label>
      <input
        class="form-control"
        type="file"
        name="profile"
        name="profile_pic"
        required
      />
    </div>
    <button class="btn btn-success" type="submit">Add Todo</button>
  </form>
<%if(todos.length>0){%>
<ul class="list-group p-3" id="list">
    <%for(let item of todos){%> <%console.log(item)%>
    <li class="list-group-item">
      <span> <%=item.task%> </span>
      <span><img height="30" width="30" src="<%=item.img%>" /></span>
      <span class="float-end">
        <form action="/todos/<%=item.id%>?_method=DELETE" method="post">
          <button class="btn-close" type="submit"></button>
        </form>
      </span>
    </li>
    <%}%>
  </ul>
<%}%>
  
</div>

<%- include("partials/footer") %>
